Repository ni/niveristand-engine-simulation-toolkit-custom-device, pull requests merged in 2019-01, with the labels that each got.

#17 Push multi-fpga configuration data into compiled code to be used in the engine
  Source/Custom Device Engine Simulation Toolkit.xml
  Source/Shared/1.4 APU Engine Data.ctl
  Source/Shared/1.4 APU Engine FIFO Idxs.ctl
  Source/Shared/Bitfile EST Version.ctl
  Source/Shared/Compiled Data.ctl
  Source/Shared/Engine Init Data.ctl
  Source/Shared/Engine Simulation Toolkit Shared.lvlib
  Source/Shared/FPGA Datum.ctl
  Source/System Explorer/Bitfile EST Interfaces.vi
  Source/System Explorer/Compile APU 1.3 Data - Multi FPGA.vi
  Source/System Explorer/Compile APU 1.4 Data.vi
  Source/System Explorer/Compile Analog Replay 1.0 Data - Multi FPGA.vi
  Source/System Explorer/Compile Digital Pattern Gen 1.3 Data - Multi FPGA.vi
  Source/System Explorer/Compile Directional Speed 1.0 Data - Multi FPGA.vi
  Source/System Explorer/Compile Engine Init - Multi FPGA.vi
  Source/System Explorer/Compile Event Capture 1.0 Data - Multi FPGA.vi
  Source/System Explorer/Compile Event Measure 1.1 Data - Multi FPGA.vi
  Source/System Explorer/Compile FPGA Datum Base.vi
  Source/System Explorer/Compile Feature Toggles.vi
  Source/System Explorer/Compile Knock Cylinder 1.0 Data - Multi FPGA.vi
  Source/System Explorer/Compile Knock Sensor 1.0 Data - Multi FPGA.vi
  Source/System Explorer/Compile Unused Analog Replays - Multi FPGA.vi
  Source/System Explorer/Compile Unused Analog Replays.vi
  Source/System Explorer/Compile Unused Digital Pattern Gens - Multi FPGA.vi
  Source/System Explorer/Compile Unused Digital Pattern Gens.vi
  Source/System Explorer/Compile Unused Directional Speeds - Multi FPGA.vi
  Source/System Explorer/Compile Unused Directional Speeds.vi
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Get Digital Patterns - Multi FPGA.vi
  Source/System Explorer/Get Event Timing Measurements - Multi FPGA.vi
  Source/System Explorer/Main On Compile Action VI - Multi FPGA.vi
  Source/System Explorer/Main On Compile Action VI Wrapper.vi
  Source/System Explorer/Main On Compile Action VI.vi
Labels: multi fpga

#23 Only show channels for RIOs associated with the current APU
  Source/System Explorer/Analog Replays Page - Multi FPGA.vi
  Source/System Explorer/Digital Patterns Page - Multi FPGA.vi
  Source/System Explorer/Directional Speed Sensors Page - Multi FPGA.vi
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Get APU Reference.vi
  Source/System Explorer/Get Channels For Measurement.vi
  Source/System Explorer/Get Event Timing Measurements - Multi FPGA.vi
  Source/System Explorer/Knock Sensors Page - Multi FPGA.vi
Labels: bug, multi fpga

#25 Mutation code for migrating from the 1.3.3 custom device to the multi-fpga configuration
  Source/Custom Device Engine Simulation Toolkit.xml
  Source/Engine Simulation Toolkit Custom Device.lvproj
  Source/Shared/Properties.vi
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Get 1.3.3 Mutation Chans.vi
  Source/System Explorer/Main On Load Action VI.vi
  Source/System Explorer/Main Page - Multi FPGA.vi
  Source/System Explorer/Mutate 1.1.1.vi
  Source/System Explorer/Mutate 1.2.9.vi
  Source/System Explorer/Mutate 1.3.3.vi
  Source/System Explorer/Mutate Multi FPGA.vi
  Source/System Explorer/Parse Bitfile for EST IP - Multi FPGA.vi
  Source/System Explorer/Rename String Array Property.vi
  Source/Tests/Unit/Mutation Test Case/Assets/Mutation Test No Bitfile.nivssdf
  Source/Tests/Unit/Mutation Test Case/Assets/Mutation Test.nivssdf
  Source/Tests/Unit/Mutation Test Case/Assets/analog replay crank VR data.csv
  Source/Tests/Unit/Mutation Test Case/Mutation Test Case.lvclass
  Source/Tests/Unit/Mutation Test Case/Open Engine Simulation Toolkit System Definition.vi
  Source/Tests/Unit/Mutation Test Case/setUp.vi
  Source/Tests/Unit/Mutation Test Case/tearDown.vi
  Source/Tests/Unit/Mutation Test Case/test Multi FPGA Feature Toggle No Bitfile.vi
  Source/Tests/Unit/Mutation Test Case/test Multi FPGA Feature Toggle.vi
  Source/Tests/Unit/Mutation Test Case/testExample.vit
Labels: enhancement, multi fpga

#26 Prevent multiple bitfiles from being added any are older than 1.4
  Source/Shared/Constants and GUIDs.vi
  Source/System Explorer/Add Bitfile Dialog.vi
  Source/System Explorer/Enable Disable Bitfile Buttons.vi
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Main Page - Multi FPGA.vi
  Source/System Explorer/Verify Bitfile Selection.vi
  Source/System Explorer/Verify Bitfile Versions Can Support Additional Bitfile.vi
Labels: enhancement, multi fpga

#33 Initial support for reloading bitfiles in the multi-fpga configuration
  Source/Custom Device Engine Simulation Toolkit.xml
  Source/Engine Simulation Toolkit Custom Device.lvproj
  Source/Scripting API/Bitfile/Add Bitfile.vi
  Source/Scripting API/Bitfile/Remove Bitfile.vi
  Source/System Explorer/Create Bitfile.vi
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Main Page - Multi FPGA.vi
  Source/System Explorer/Refresh FPGA Bitfile - Multi FPGA.vi
  Source/System Explorer/Refresh FPGA Bitfile Wrapper.vi
  Source/System Explorer/Refresh FPGA Bitfile.vi
  Source/System Explorer/Reload Bitfile.vi
  Source/System Explorer/Remove Bitfiles.vi
Labels: enhancement, multi fpga

#35 Skip synchronization test if version is older than 2018
  Source/Engine Simulation Toolkit Custom Device.lvproj
  Source/Tests/System/Multi FPGA/setUp.vi
  Source/Tests/System/Multi FPGA/test Multi FPGA Synchronization.vi
Labels: enhancement, multi fpga

#42 Use system controls for add bitfile dialog, prepopulate device address with "RIO0"
  Source/System Explorer/Add Bitfile Dialog.vi
Labels: bug, multi fpga

#34 Set scripting API as top level when building the LLB
  Source/Engine Simulation Toolkit Custom Device.lvproj
Labels: enhancement, multi fpga

#41 Update list of APUs when removing/reloading bitfiles (fix #31)
  Source/System Explorer/Engine Simulation Toolkit System Explorer.lvlib
  Source/System Explorer/Main Page - Multi FPGA.vi
  Source/System Explorer/Main Page refnums.ctl
  Source/System Explorer/Refresh Main Page Listboxes.vi
  Source/System Explorer/Remove Bitfiles.vi
Labels: bug, multi fpga

#43 Add descriptions to the multi-fpga status channels
  Source/Shared/Constants and GUIDs.vi
  Source/System Explorer/Mutate Multi FPGA.vi
Labels: enhancement, multi fpga

#44 Fix bug where a newly added bitfile was not selected properly
  Source/System Explorer/Main Page - Multi FPGA.vi
  Source/System Explorer/Refresh Main Page Listboxes.vi
Labels: bug, multi fpga
